[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
pylint = "*"
black = "*"
requests = "*"
python-dotenv = "*"
numpy = "*"
tomli = "*"
typing-extensions = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
